*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
}
.container {
    position: absolute;
    border: 1px solid darkcyan;
    border-radius: 5px;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 5px;
    width: 300px;
}
.calendar .header {
    display: grid;
    grid-column: 1 / -1;
    /*grid-template-columns: 1fr 3fr 2fr 1fr;*/
}
/*.calendar .header div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}*/
.calendar .weekday {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(7, 1fr);
}
.calendar .weekday div {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    font-weight: 900;
}
.calendar .day {
    background-color: darkcyan;
    aspect-ratio: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.calendar .day.selected {
    background-color: #004a4a;
}